@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Single Day', cursive;
}

body{
    
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.wrapper{
    border: solid white 5px;
    padding: 10px;
    border-radius: 20px;
    width: 500px;
    transition: all .2s ease;
}

.title{
    color: white;
    padding: 10px;
    display: flex;
    width: 100%;
    text-shadow: 0 0 5px #FFF, 0 0 1px #FFF
}
small{
    font-size: 8px;
    background-color: red;
    height: fit-content;
    padding: 2px;
    margin-left: 5px;
    border-radius: 10px;
    width: 75%;
    animation: zahi 6s ease infinite forwards;
}

@keyframes zahi {

    0%{background-color: red; }
    20%{background-color: blue; }
    70%{ background-color: purple;}
    100%{background-color: red;}
}

.goesFirst{
    background:linear-gradient(to left,blue,red);
    display: flex;
    justify-content: center;
    text-align: center;
    height: 40px;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 5px #FFF, 0 0 1px #FFF
    
}

header{
    
    background:linear-gradient(to left,blue,red);
    margin-left: 10%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    color: white;
}

.player1score, .player2score{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

.gameContainer{

    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background:linear-gradient(to left,blue,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.square{
    background-color: rgba(241, 240, 241, 0.104);
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 1s ease;
    
}

 
    @keyframes sqFade {

        0%{
            transform:scale(1)
        }
        50%{
            transform:scale(1.3)
        }
        100%{
            transform:scale(1)
        }
        
    }

.gameSettings{
    background:linear-gradient(to left,blue,red);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    margin-top: 10px;
    border-radius: 20px;
    grid-template-rows:40px 40px;
    grid-template-columns:1fr;
    width: 100%;
    
}

.top{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.bottom{
    display: flex;
    justify-content:space-around;
    padding: 4px;
}


button, input{
    border-radius: 10px;
    border: none;
    text-align: center;
    width: 100px;
    
}

button:hover{
    background-color: red;
    color: white;
    transition: all .2s ease;
    cursor: pointer;
}

.winnerBanner{
    background:linear-gradient(to left,blue,red);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
    opacity: 80%;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    transform:translate(-50%,-50%) scale(0);
}


.fadeIn{
    
    color: white;
    transform:translate(-50%,-50%) scale(1);
}

@media screen and (max-width:560px ) {

    .wrapper{
        width:365px ;
    }

    .winnerBanner{
        width: 200px;
        height: 200px;
    }

    button, input{
        width: 70px;
        height: 30px;
        text-align: center;
        font-size: 10px;
    }


    
}